spring:
  application:
    name: ecommerce

  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: none
    show-sql: true

  datasource:
    platform: postgres
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://testd.com:21941/test?ssl=require
    username: test
    password: !test
#
#  liquibase:
#    change-log: classpath:db/changelog/db.changelog-master.yaml